/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
  background: #c0cde0;
  color: $blue-grey;
  font-size: .9rem;

  .columns {
    margin-top: 35px;
  }

  .footer-logo {
    img {
      height: 40px;
    }
  }

  .footer-column {
    .footer-header {
      h3 {
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 20px;
      }
    }

    .link-list {
      line-height: 40px;
      font-size: .95rem;

      a {
        color: $blue-grey;
        font-weight: 400;
        transition: all 0.5s;

        &:hover {
          color: $secondary;
        }
      }
    }


      .icon {
        color: $primary;
        transition: all 0.25s;
        width: auto;
        height: auto;
        margin-right: .25rem;

        .iconify {
          font-size: 2rem;
        }

        &:hover {
          color: $secondary;
        }
      }
    
  }
}
