/* ==========================================================================
Color variables
========================================================================== */

$fullhd-enabled: true;
$body-size: 14px;

$white: #fff;
$white-trans: #ffffffa3;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: #369FDB;
$secondary: #d57623;
$accent: #06cd70;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #888;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$section-grey: #fbfbfb;

//fonts
$font: 'Roboto Flex', sans-serif !important;
$font-heading: 'Nunito Variable', sans-serif !important;

//Shadow
$light-shadow: -1px 3px 15px 0 rgba(0, 0, 0, 0.06);

$card-radius: .5rem;