---
import Layout from "../layouts/Internas.astro";
import CursosRelated from "../components/CursosRelated.astro";
import AsideInterno from "../components/AsideInterno.astro";
const title = "Curso de React JS :: Uneweb";
import ModalVideo from "../components/ModalVideo.astro";
import CursosContent from "../components/CursosContent.astro";
const urlDoc = "/docs/Contenido-de-React-JS.pdf";
const urlPic = "/img/pics/curso-react.webp";
---

<Layout title={title}>
   <section
      class="section is-medium has-background-image banner"
      data-background="/img/banners/bg-cursos.webp"
      data-position="center top"
   >
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-7 landing-caption">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Curso de React JS
               </h1>
               <h2 class="subtitle is-5 light-text">
                  React es una biblioteca de JavaScript para construir
                  interfaces de usuario. Crea interfaces de usuario que se
                  actualizan y que se muestran de forma muy eficiente.
               </h2>
            </div>
         </div>
      </div>
   </section>

   <section class="section main">
      <div class="container">
         <div class="columns">
            <div class="column is-8">
               <div class="card">
                  <div class="card-content">
                     <div class="content">
                        <h3 class="title is-4 mb-10 is-title-reveal">
                           Clases online clases por zoom, videos tutoriales y
                           prácticas Clases presenciales de lunes a viernes y
                           Sabatino
                        </h3>

                        <p>
                           La popularidad de React en la comunidad de
                           desarrolladores ha aumentado continuamente. Según la
                           2021 Developer Survey, una encuesta realizada por
                           Stack Overflow, React.js fue la biblioteca usada más
                           comúnmente por los 67,593 encuestados.
                        </p>

                        <p class="has-text-weight-semibold is-size-5">
                           Certificado por el Ministerio de Educación. Código Nº
                           PR -07-017-11AC. Legaliza y apostilla tu certificado.
                        </p>
                     </div>

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Duración:</h4>

                           <ul class="item-list">
                              <li>1 semana presencial lunes a viernes.</li>
                              <li>3 sábados presencial sabatino.</li>
                              <li>1 mes online.</li>
                           </ul>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Laboratorios</h4>

                           <ul class="item-list">
                              <li>Incluye 1 computador por persona.</li>
                              <li>De 4 a 8 alumnos por salón.</li>
                           </ul>
                        </div>
                     </div>

                     <hr />

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Certificación:</h4>

                           <p>Registrado en el Ministerio de Educación</p>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Requisitos:</h4>

                           <p>Lógica de programación, HTML y JavaScript.</p>
                        </div>
                     </div>

                     <h3 class="title is-4">Contenido del Curso de React</h3>

                     <div class="two-cols">
                        <p>
                           Estructura de una Aplicación de React<br />Cómo crear
                           una aplicación de React con el comando npx
                           create-react-app.<br />Descripción detallada de las
                           carpetas y de los archivos creados por este comando.<br
                           />Cómo abrir la carpeta de la aplicación en Visual
                           Studio Code.<br />Cómo ejecutar una aplicación de
                           React con npm start.<br />Cómo eliminar archivos
                           innecesarios y actualizar archivos existentes según
                           las necesidades de tu proyecto.<br />Introducción a
                           JSX<br />Significado de JSX.<br />Ventajas de JSX.<br
                           />Elementos en JSX.<br />Elementos vs. Componentes en
                           React.<br />Introducción al DOM.<br />Atributos en
                           JSX.<br />Cómo renderizar componentes con react-dom.<br
                           />Cómo insertar JavaScript en JSX.<br />Elementos JSX
                           anidados.<br />Etiquetas self-closing en JSX (que no
                           requieren una etiqueta de cierre).<br />Componentes y
                           Archivos de React<br />Cómo definir un componente
                           funcional y un componente de clase.<br />Convenciones
                           de nomenclatura para archivos de React.<br />Analizar
                           componentes a partir del diseño inicial de la
                           aplicación. <br />Exportar e importar componentes.<br
                           />Exportaciones por defecto y nombradas.<br
                           />Herramientas de React para Google Chrome.<br
                           />Pasar props a un componente y usarlos en el
                           componente.<br />TAsignar estilo a un componente con
                           hojas de estilo CSS.
                        </p>
                        <p>
                           Usar imágenes en una aplicación de React.<br
                           />Renderizar varios componentes. <br />Asignar event
                           listeners a los elementos de un componente.<br
                           />Pasar event listeners como props. <br />Componentes
                           de clase, cómo trabajar con ellos y cómo transformar
                           componentes funcionales en componentes de clase y
                           vice versa.
                        </p>
                     </div>
                  </div>
               </div>
            </div>

            <AsideInterno urlDoc={urlDoc} urlPic={urlPic} btnDoc="Curso" />
         </div>
      </div>
   </section>

   <CursosRelated tag="programacion" except="html2" />

   <!-- <ModalVideo videoID="" /> -->
</Layout>
