---
import Layout from "../layouts/Diplomados.astro";
const title = "Diplomado de Programación :: Uneweb";
import 'plyr/dist/plyr.css'
---

<Layout title={title}>
   <!-- Banner Home -->
   <section
      class="section is-medium has-background-image banner"
      data-background="/img/banners/bg-diplomados.webp"
      data-position="center 30%"
   >
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-6 landing-caption">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Diplomado de Programación Full Stack
               </h1>
               <h2 class="subtitle is-5 light-text">
                  Aprende a programar desde cero aplicaciones web con bases de
                  datos. Trabaja como Programador Full Stack, consigue empleo
                  fácilmente o trabaja freelance en empleate.com,
                  computrabajo.com o LinkedIn.com
               </h2>
            </div>
         </div>
      </div>
   </section>

   <section class="section main">
      <div class="container">
         <div class="columns">
            <div class="column is-8">
               <div class="card">
                  <div class="card-content">
                     <h3 class="title is-4 mb-10 is-title-reveal">
                        Clases online clases por zoom, videos tutoriales y
                        prácticas Clases presenciales de lunes a viernes y
                        Sabatino
                     </h3>

                     <h4 class="title is-5">
                        El Diplomado contiene 12 cursos más el proyecto, es 100%
                        práctico, el estudiante desarrollará:
                     </h4>

                     <ul class="item-list mb-5">
                        <li>
                           Sistemas de gestión de contenidos con bases de datos
                        </li>
                        <li>Aplicaciones para las páginas Web</li>
                        <li>Administración de Base de datos</li>
                        <li>Crear recursos Web</li>
                     </ul>

                     <div class="content is-size-5">
                        <p>
                           Al entregar el Proyecto se evalúa y emite un Diploma
                           Registrado en el Ministerio de Educación.
                        </p>
                        <p>
                           Encuentra empleo o trabajo freelance por las
                           siguientes páginas web <i
                              >empleate.com, computrabajo.com, freelancer.es</i
                           >
                        </p>
                        <p class="has-text-weight-semibold">
                           Certificado por el Ministerio de Educación. Código Nº
                           PR -07-017-11AC. Legaliza y apostilla tu certificado.
                        </p>
                     </div>

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Duración:</h4>

                           <ul class="item-list">
                              <li>3 meses presencial lunes a viernes.</li>
                              <li>9 meses presencial sabatino.</li>
                              <li>6 meses online.</li>
                           </ul>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Laboratorios</h4>

                           <ul class="item-list">
                              <li>Incluye 1 computador por persona.</li>
                              <li>De 4 a 8 alumnos por salón.</li>
                           </ul>
                        </div>
                     </div>

                     <hr />

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Certificación:</h4>

                           <p>Registrado en el Ministerio de Educación</p>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Requisitos:</h4>

                           <p>Manejo básico de office e internet.</p>
                        </div>
                     </div>

                     
                  </div>
               </div>
            </div>
            <div class="column is-4 aside-interno">
               <div class="card">
                  <div class="card-image">
                     <figure class="image is 5by3 modal-trigger">
                        <img
                           src="/img/pics/diplomado-programacion.webp"
                           alt=""
                        />
                     </figure>
                  </div>
                  <div class="card-content">
                     <div class="buttons">
                        <a
                           href="/formas-de-pago"
                           class="button primary-btn is-fullwidth raised is-large"
                           >Formas de Pago</a
                        >
                        <a
                           href="/docs/Contenido-del-Diplomado-de-Programaci%C3%B3n-Web.pdf"
                           class="button accent-btn is-fullwidth raised is-large"
                           >Contenido del Diplomado</a
                        >
                     </div>

                     <div class="content">
                        <p class="is-size-5">Incluye:</p>

                        <div class="item-list mb-5">
                           <li>Acceso al aula virtual</li>
                           <li>Material descargable</li>
                           <li>Clases en vídeos y en vivo o presencial</li>
                           <li>Profesor designado</li>
                           <li>Asignaciones</li>
                           <li>Certificado por el M.E</li>
                        </div>

                        <h3 class="subtitle">Solicita información</h3>

                        <iframe
                           loading="lazy"
                           width="540"
                           height="480"
                           src="https://my.sendinblue.com/users/subscribe/js_id/2uqa0/id/1"
                           allowfullscreen=""
                           style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"
                        ></iframe>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section has-background-grey-lighter">
      <div class="container mt-20 mb-20">
         <div class="columns is-vcentered is-centered side-feature">
            <div class="column is-5">
               <h3 class="title is-3 mb-10 is-title-reveal">
                  Sigue los pasos del éxito de tu carrera ahora
               </h3>
               <div class="buttons">
                  <a
                     href="/como-inscribirse"
                     class="button primary-btn raised is-large">Inscríbete Ya</a
                  >
                  <a
                     href="/formas-de-pago"
                     class="button accent-btn raised is-large">Formas de Pago</a
                  >
               </div>
            </div>
            <div class="column is-4">
               <figure class="image is-4by3">
                  <img src="/img/pics/cta-home.png" alt="" />
               </figure>
            </div>
         </div>
      </div>
   </section>
</Layout>

<script>
   import Plyr from "plyr";

   const player = new Plyr("#player");
</script>

<style>

   .main {
      overflow: unset !important;
   }

   .aside-interno {
      position: relative;
      margin-top: -30rem;
   }

   .aside-interno .card {
      position: sticky;
   }


   .aside-interno figure {
      cursor: pointer;
   }

   .aside-interno img {
      transition: all .3s;
      filter: grayscale(50%);
   }

   .aside-interno img:hover {
      filter: grayscale(0%);
   }
</style>
