---
import Layout from "../layouts/Internas.astro";
import CursosRelated from "../components/CursosRelated.astro";
import AsideInterno from "../components/AsideInterno.astro";
import ModalVideo from "../components/ModalVideo.astro";
const title = "Especialización de Videojuegos con UNITY 3D :: Uneweb";
---

<Layout title={title}>
   <!-- Banner Home -->
   <section
      class="section is-medium has-background-image banner"
      data-background="/img/banners/bg-especializaciones.webp"
      data-position="center 30%"
   >
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-6 landing-caption">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Especialización Videojuegos UNITY 3D
               </h1>
               <h2 class="subtitle is-5 light-text">
                  Desarrolla videojuegos en Unity 3D. Entra en el mundo del
                  desarrollo de videojuegos, domina Unity y crea videojuegos con
                  una gran experiencia de usuario.
               </h2>
            </div>
         </div>
      </div>
   </section>

   <section class="section main">
      <div class="container">
         <div class="columns">
            <div class="column is-8">
               <div class="card">
                  <div class="card-content">
                     <h3 class="title is-4 mb-10 has-text-centered">
                        ¡Especialízate en videojuegos con Unity 3D! presencial
                        en Caracas
                     </h3>

                     <div class="content">
                        <p>
                           Con este curso el alumno aprenderá los conceptos
                           fundamentales y las técnicas necesarias para poder
                           diseñar y crear sus propios videojuegos usando Unity,
                           el motor multiplataforma (web, PC, Smartphones,
                           SmartTVs, Consolas, etc.) que ha democratizado el
                           mundo del desarrollo de videojuegos. Aprenderás a
                           desarrollar un juego completo pasando por todas las
                           etapas de desarrollo: programación, animación, diseño
                           de nivel, creación de interfaces y sonido.
                        </p>
                     </div>

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Duración:</h4>

                           <ul class="item-list">
                              <li>Lunes a viernes presencial 1 mes.</li>
                              <li>Sábados 2 meses.</li>
                              <li>Online 4 meses</li>
                           </ul>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Laboratorios</h4>

                           <ul class="item-list">
                              <li>Incluye 1 computador por persona.</li>
                              <li>De 4 a 8 alumnos por salón.</li>
                           </ul>
                        </div>
                     </div>

                     <hr />

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Certificación:</h4>

                           <p>Registrado en el Ministerio de Educación</p>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Requisitos:</h4>

                           <p>Manejo básico de office e internet.</p>
                        </div>
                     </div>

                     <h3 class="title is-4">
                        Especialización de Unity 3D - 4 Cursos:
                     </h3>

                     <ul class="link-list">
                        <li>
                           <span class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </span>
                           <span class="has-text-weight-medium is-size-5">
                              INTRODUCCIÓN AL MUNDO 3D
                           </span>
                        </li>

                        <li>
                           <span class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </span>
                           <span class="has-text-weight-medium is-size-5">
                              INTRODUCCIÓN A UNITY 3D
                           </span>
                        </li>

                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                              MODELADO 2D Y 3D
                           </span>
                        </li>

                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                              CREACIÓN DE ESCENARIOS
                           </span>
                        </li>

                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                              LOS PERSONAJES
                           </span>
                        </li>
                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                              FÍSICAS
                           </span>
                        </li>
                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                              PROGRAMACIÓN
                           </span>
                        </li>
                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                              EL JUEGO
                           </span>
                        </li>
                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                             DISPOSITIVOS MÓVILES Y CONSOLAS
                           </span>
                        </li>
                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                             REALIDAD VIRTUAL
                           </span>
                        </li>
                        <li>
                           <div class="icon">
                              <i
                                 class="iconify"
                                 data-icon="fa6-solid:circle-check"></i>
                           </div>
                           <span class="has-text-weight-medium is-size-5">
                             DESARROLLO DE PROYECTO REAL 
                           </span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>

            <AsideInterno               
               urlPic="/img/pics/especializacion-unity.webp"

            />
         </div>
      </div>
   </section>

   <CursosRelated tag="especializacion" except="unity" />

   <ModalVideo videoID="SpHoIzGCLFM" />
</Layout>
