---
import Layout from "../layouts/Default.astro";
import HomeDiplomados from "../components/HomeDiplomados.astro";
import HomeEspecializaciones from "../components/HomeEspecializaciones.astro";
import HomeCursos from "../components/HomeCursos.astro";
import HomeTutoriales from "../components/HomeTutoriales.astro";
import HomeBanner from "../components/HomeBanner.astro";
import CTA from "../components/CTA.astro";
const title = "Cursos online y presencial :: Diplomados y Maestrías";
import "flickity/dist/flickity.min.css";
---

<Layout title={title}>

	<!-- Banner Home -->
	<HomeBanner/>



	<!-- Bloque Diplomados -->
	<HomeDiplomados />



	<!-- Bloque Especializaciones -->
	<HomeEspecializaciones />



	<!-- Bloque Cursos -->
	<HomeCursos/>



	<!-- Bloque CTA Home -->
	<CTA />


	<!-- Bloque Tutoriales -->
	<HomeTutoriales/>



	<section class="section huge-pb">
		<div class="container">	
			<div class="columns is-vcentered side-feature">
				<div class="column is-7 has-text-centered">
					<h3 class="title is-2 mb-10 is-title-reveal">
						Nuestros Diplomados online o presenciales certificados por el Ministerio de Educación, encuentra empleo o trabaja freelance después de especializarte.
					</h3>

				</div>
				<div class="column is-5 has-text-right">

					<h4 class="title is-4 mb-10 is-title-reveal">
						Forma parte de nuestra Comunidad, <br>obtén descuentos y talleres gratis
					</h4>

					<!-- <div class="buttons"> -->
						<a href="/como-inscribirse" class="button accent-btn raised is-large">Únete desde ya</a>
					<!-- </div> -->
				</div>
			</div>			
		</div>
	</section>
</Layout>
