---
import Layout from "../layouts/Default.astro";
import Navbar from "../components/Navbar.astro";
import NavbarClone from "../components/NavbarClone.astro";
import HomeDiplomados from "../components/HomeDiplomados.astro";
import HomeEspecializaciones from "../components/HomeEspecializaciones.astro";
import HomeCursos from "../components/HomeCursos.astro";
import HomeTutoriales from "../components/HomeTutoriales.astro";
const title = "Cursos onliney presencial :: Diplomados y Maestrías";
import "flickity/dist/flickity.min.css";
---

<Layout title={title}>

	<!-- Banner Home -->
	<section class="hero is-medium" 
		data-background="/img/banners/bg-hero-home.webp"
		data-position="center 30%">

		<Navbar />

		<NavbarClone />

		<div class="hero-body">
			<div class="container">
				<div class="columns is-vcentered">
					<div class="column is-6 landing-caption">
						<h1 class="title is-1 is-bold is-spaced light-text">
							Programación FullStack
						</h1>
						<h2 class="title is-2 is-bold is-spaced light-text">
							Aprende a programar desde 0
						</h2>
						<h2 class="subtitle is-5 light-text">
							Cursos y Diplomados Certificados por el Ministerio de
							Educación. Consigue empleo después de especializarte
						</h2>
						<div>
							<a class="button is-light is-outlined is-large">
								Solicita Asesoría
							</a>
						</div>
					</div>
					<!-- <div class="column is-6">
						<img
							src="/img/illustrations/worker.svg"
							class="hero-image"
							alt="Description"
						/>
					</div> -->
				</div>
			</div>
		</div>
	</section>





	<!-- Bloque Diplomados -->
	<HomeDiplomados />




	<!-- Bloque Especializaciones -->
	<HomeEspecializaciones />


	<!-- Bloque Cursos -->
	<HomeCursos/>


	<section class="section section-light-grey">
		<div class="container mt-40 mb-40">	
			<div class="columns is-vcentered is-centered side-feature">
				<div class="column is-5">
					<h3 class="title is-3 mb-10 is-title-reveal">
						Sigue los pasos del éxito de tu carrera ahora
					</h3>
					<div class="buttons">
						<a href="/como-inscribirse" class="button primary-btn raised is-large">Inscríbete Ya</a>
						<a href="/formas-de-pago" class="button accent-btn raised is-large">Formas de Pago</a>
					</div>
				</div>
				<div class="column is-4">
					<figure class="image is-2by2">
						<img src="/img/pics/tech.webp" alt="" width="300" height="300" />
					</figure>
				</div>
			</div>

			
		</div>
	</section>


	<!-- Bloque Tutoriales -->

	<HomeTutoriales/>


</Layout>
