---
import Layout from "../layouts/Internas.astro";
import CursosRelated from "../components/CursosRelated.astro";
import AsidePages from "../components/AsidePages.astro";
const title = "Cómo Inscribirse - Instagram - Google :: Uneweb";
import ModalVideo from "../components/ModalVideo.astro";
import CursosContent from "../components/CursosContent.astro";
// const urlDoc = "/docs/Contenido-de-Comunicaci%C3%B3n-Masiva.pdf";
const urlPic = "/img/pics/curso-comunicacion.webp";
---

<Layout title={title}>
   <section
      class="section has-background-image banner"
      data-background="/img/banners/bg-pages.webp"
      data-position="center"
   >
      <div class="container py-6">
         <div class="columns is-vcentered">
            <div class="column is-7 landing-caption">
               <h1 class="title is-1 is-bold is-spaced">Quienes Somos</h1>
               <!-- <h2 class="subtitle is-5 light-text">
                  Aprende 
               </h2> -->
            </div>
         </div>
      </div>
   </section>

   <section class="section main">
      <div class="container">
         <div class="columns">
            <div class="column is-8">
               <div class="card">
                  <div class="card-content">
                     <div class="content">
                        <h3 class="title is-4">
                           Cursos, Diplomados y Maestría
                        </h3>

                        <p>
                           Instituto Uneweb de Nuevas Tecnologías, inicia sus
                           operaciones a partir del año 2003 como Matrix Centro
                           Web C.A (cambiando su denominación comercial en Junio
                           2007), con el objeto de impartir Educación de alto
                           nivel y calidad en<strong>
                              nuevas tecnologías</strong
                           > Web en las áreas de: Programación Web, Java, Diseño
                           Digital, Webmaster y Mercadeo digital.
                        </p>
                        <p>
                           Desde el inicio de nuestras operaciones, hemos
                           realizado de manera paralela tanto la instrucción web
                           como el desarrollo de sitios web y sistemas auto
                           gestionables parametrizables (editables), lo cual nos
                           permite el desarrollo en cuatro dimensiones:
                        </p>
                        <ul>
                           <li>Programación y bases de datos</li>
                           <li>Diseño Digital</li>
                           <li>Integración Web master</li>
                           <li>Mercadeo Web</li>
                           <li>App móviles</li>
                        </ul>
                        <p>Nuestros objetivos en el Instituto:</p>
                        <ul>
                           <li>
                              Enseñanza práctica basada en proyectos de la
                              actualidad del mercado
                           </li>
                           <li>
                              Actualización permanente basada en los
                              requerimientos del cliente
                           </li>
                           <li>
                              Desarrollo de tecnologías programadas, sistemas
                              web y telecomunicaciones según los requerimientos
                              del cliente.
                           </li>
                        </ul>
                        <p>
                           Hemos dedicado al desarrollo de Tecnologías
                           web-programadas, sistemas Web-ERP y
                           telecomunicaciones a través del cual hemos realizado
                           el lanzamiento de productos novedosos al mercado
                           tales como:
                        </p>
                        <ul>
                           <li>
                              <a
                                 href="http://www.webinteligente.biz/"
                                 target="_blank"
                                 rel="noopener noreferrer"
                                 >Webinteligente.biz
                              </a>(sitio web auto gestionable)
                           </li>
                           <li>
                              e-learning (<a
                                 href="http://uneweb.com/cursos"
                                 target="_blank"
                                 rel="noopener noreferrer"
                                 >www.uneweb.com/cursos</a
                              >)
                           </li>
                        </ul>
                        <p>
                           <strong
                              >El Instituto Uneweb está registrado en el
                              Ministerio de Educación Codigo N° PR-07-017-11AC.</strong
                           >
                        </p>
                     </div>

                     <hr />

                     <div class="content">
                        <h3 class="title is-4">
                           Clientes que han trabajado con nosotros
                        </h3>

                        <div class="two-cols">
                           3M DE VENEZUELA<br />PARQUE TECNOLÓGICO SARTENEJAS<br
                           />MAPFRE<br />DOMESA<br />LÁCTEOS LOS ANDES<br
                           />AFFINIA VENEZUELA<br />TELEFÓNICA MOVISTAR
                           VENEZUELA<br />DIGITEL<br />CAVEFAJ<br />GENVEN
                           GENÉRICOS VENEZOLANOS<br />CONSORCIO CREDICARD<br
                           />TIENDAS GRAFFITI<br />EMPLEATE.COM<br />BANCO
                           BICENTENARIO METRO DE CARACAS<br />MINISTERIO DE
                           RELACIONES INTERIORES Y JUSTICIA<br />INSTITUTO DE
                           HIGIENE<br />BANCO INDUSTRIAL<br />CNE<br />PDVSA<br
                           />ALCALDIA DE CHACAO<br />DIRECCIÓN GENERAL DE ARMAS
                           Y EXPLOSIVOS (DAEX)<br />BANAVIH<br />C.A. LA
                           ELECTRICIDAD DE CARACAS<br />UNIVERSIDAD CENTRAL DE
                           VENEZUELA<br />MINISTERIO DEL PODER POPULAR PARA LA
                           SALUD<br />OFICINA NACIONAL DE CONTABILIDAD PÚBLICA
                           ONCOP<br />TELESUR<br />MINISTERIO DE LA DEFENSA
                        </div>

                        <hr>

                        <p>
                           <strong
                              >Descripción del Programa Académico y contenido
                              programático
                           </strong>
                        </p>

                        <p>
                           El programa de <strong>Diplomados y Maestría</strong>
                           <strong>PDW de UNEWEB</strong><strong
                              >(INTEGRACION DE PROGRAMACION, DISENO DIGITAL
                              &amp; WEBMASTER)</strong
                           >, así como Cursos de eficiencia profesional ha sido
                           diseñado para proveer al participante de la mejor
                           instrucción e integración en las áreas de:<strong
                              ><br /></strong>
                        </p>

                        <ol>
                           <li>
                              <strong
                                 ><em>Programación software libre</em></strong>
                           </li>
                           <li><strong><em>Diseño Digital</em></strong></li>
                           <li><strong><em>Integración Web</em></strong></li>
                           <li><strong><em>Mercadeo Web</em></strong></li>
                           <li>
                              <strong><em>Office y Open Office</em></strong>
                           </li>
                        </ol>

                        <p style="text-align: justify;">
                           La cuales son requeridas no solo para la organización
                           y procesamiento de información y data, sino también
                           para la interactividad y la comunicación efectiva de
                           la misma con los usuarios finales de una manera
                           amigable.
                        </p>

                        <p style="text-align: justify;">
                           <strong
                              >Los participantes trabajan con proyectos,</strong
                           > plenos de las exigencias de clientes reales de alto
                           desempeño Empresarial, que han exigido el desarrollo de
                           sistemas de alta capacidad de organización y procesamiento
                           de información y data, aunada a un alto nivel de interactividad
                           y amigabilidad con el usuario.
                        </p>
                     </div>
                  </div>
               </div>
            </div>

            <AsidePages />
         </div>
      </div>
   </section>

   <CursosRelated tag="mercadeo" except="ads" />

   <ModalVideo videoID="MzDu0B9Ann4" />
</Layout>
