---
import Layout from "../layouts/Diplomados.astro";
import CursosRelated from "../components/CursosRelated.astro";
import AsideInterno from "../components/AsideInterno.astro";
const title = "Maestría PDW :: Uneweb";
import ModalVideo from "../components/ModalVideo.astro";
const contenido = [
   {
      curso: "Lógica de Programación",
      link: "/logica-de-programacion",
   },
   {
      curso: "HTML 5 Nivel 1",
      link: "/html",
   },
   {
      curso: "HTML 5 Nivel 2",
      link: "/html-5",
   },
   {
      curso: "PHP Niveles I - II - III - IV",
      link: "/curso-de-php",
   },
   {
      curso: "MySQL",
      link: "/mysql",
   },
   {
      curso: "PostgreSQL",
      link: "/curso-de-postgre-sql",
   },
   {
      curso: "JavaScript",
      link: "/curso-de-javascript",
   },
   {
      curso: "JQuery",
      link: "/curso-de-jquery",
   },
   {
      curso: "Python Nivel I - II",
      link: "/curso-de-python",
   },
   {
      curso: "Linux Administrator",
      link: "#",
   },
   {
      curso: "WordPress Nivel I - II",
      link: "/curso-de-wordpress",
   },
   {
      curso: "Illustrator Nivel I",
      link: "/illustrator",
   },
   {
      curso: "Photoshop Nivel I - II",
      link: "/photoshop",
   },
  {
      curso: "Diagramación Digital",
      link: "#",
   },
   {
      curso: "InDesign Nivel I",
      link: "/curso-de-indesign",
   },
   {
      curso: "Blender 3D  Niveles I - II - III",
      link: "/curso-de-3d-en-caracas/",
   },
   {
      curso: "After Effects CC Niveles I - II",
      link: "/after-effects-nivel-1/",
   },
   {
      curso: "Premiere Pro",
      link: "/premiere/",
   },
   {
      curso: "Animate",
      link: "/curso-de-animate-cc/",
   },

   {
      curso: "Community Manager Nivel I - II",
      link: "/community-manager",
   },
   {
      curso: "Marketing Digital",
      link: "/marketing-digital",
   },
   {
      curso: "Comunicación masiva",
      link: "comunicacion-masiva-email-y-sms",
   },
   {
      curso: "SEO",
      link: "/seo",
   },

   {
      curso: "Proyecto Maestría Programación - Diseño - Webmaster",
      link: "#",
   },
];

// const urlDoc = "/docs/Contenido-del-Diplomado.pdf";
const urlPic = "/img/pics/maestria.webp";
---

<Layout title={title}>
   <!-- Banner Home -->
   <section
      class="section is-medium has-background-image banner"
      data-background="/img/banners/bg-diplomados.webp"
      data-position="center 30%"
   >
      <div class="container">
         <div class="columns is-vcentered">
            <div class="column is-7 landing-caption">
               <h1 class="title is-1 is-bold is-spaced light-text">
                  Maestría PDW
               </h1>
               <h2 class="subtitle is-5 light-text">
                  Desarrolla un perfil de alto desempeño creando proyectos en la Maestría de programación, diseño, web y Marketing digital. Certificado por el Ministerio de Educación.
               </h2>
            </div>
         </div>
      </div>
   </section>

   <section class="section main">
      <div class="container">
         <div class="columns">
            <div class="column is-8">
               <div class="card">
                  <div class="card-content">
                     <div class="content">
                        <h3 class="title is-4 mb-10 is-title-reveal">
                           Clases online clases por zoom, videos tutoriales y
                           prácticas Clases presenciales de lunes a viernes y
                           Sabatino
                        </h3>

                        <h4 class="title is-5">
                           La Maestría PDW contiene 32 materias + proyecto integración de programación, diseño digital y tecnología web, el estudiante desarrollará:
                        </h4>
                     </div>

                     <ul class="item-list mb-5">
                        <li>Sistemas de gestión de contenidos con bases de datos</li>
                        <li>
                           Aplicaciones para las páginas Web inteligentes
                        </li>
                        <li>
                           Diseño Digital web, impresos y multimedia
                        </li>
                        <li>
                           Community manager, marketing y SEO
                        </li>
                     </ul>

                     <div class="content is-size-5">
                        <p>
                           Al entregar el Proyecto se evalúa y emite la MAESTRÍA PDW Registrado en el Ministerio de Educación.
                        </p>
                        <p>
                           Encuentra empleo o trabajo freelance por las
                           siguientes páginas web <i
                              >empleate.com, computrabajo.com, freelancer.es</i
                           >
                        </p>
                        <p class="has-text-weight-semibold">
                           Certificado por el Ministerio de Educación. Código Nº
                           PR -07-017-11AC. Legaliza y apostilla tu certificado.
                        </p>
                     </div>

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Duración:</h4>

                           <ul class="item-list">
                              <li>9 meses presencial lunes a viernes.</li>
                              <li>24 meses presencial sabatino.</li>
                              <li>24 meses online.</li>
                           </ul>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Laboratorios</h4>

                           <ul class="item-list">
                              <li>Incluye 1 computador por persona.</li>
                              <li>De 4 a 8 alumnos por salón.</li>
                           </ul>
                        </div>
                     </div>

                     <hr />

                     <div class="columns">
                        <div class="column">
                           <h4 class="subtitle">Certificación:</h4>

                           <p>Registrado en el Ministerio de Educación</p>
                        </div>
                        <div class="column">
                           <h4 class="subtitle">Requisitos:</h4>

                           <p>Manejo básico de office e internet.</p>
                        </div>
                     </div>

                     <h3 class="title is-4">Contenido del Diplomado</h3>

                     <ul class="link-list">
                        {
                           contenido.map((item) => (
                              <li>
                                 <a href={item.link} class="icon-text">
                                    <div class="icon">
                                       <i
                                          class="iconify"
                                          data-icon="fa6-solid:circle-check"
                                       />
                                    </div>
                                    <span class="has-text-weight-medium is-size-5">
                                       {item.curso}
                                    </span>
                                 </a>
                              </li>
                           ))
                        }
                     </ul>
                  </div>
               </div>
            </div>

            <AsideInterno urlPic={urlPic} />
         </div>
      </div>
   </section>

   <CursosRelated tag="mercadeo" />

   <ModalVideo videoID="LuxEfQCRKUc" />
</Layout>

<style>
   .main {
      overflow: visible !important;
   }
</style>
