<section class="section is-paddingless bottom-footer">
   <div class="container">
      <div class="content my-5">
         <p class="is-size-7">
            © 2003 Instituto de Nuevas Tecnologías Uneweb C.A | Ministerio de Educación Código Número PR -07-017-11AC
         </p>
      </div>
   </div>
</section>
