<section class="section has-background-grey-lighter">
   <div class="container mt-20 mb-20">
      <div class="columns is-vcentered is-centered side-feature">
         <div class="column is-5">
            <h3 class="title is-3 mb-10 is-title-reveal">
               Sigue los pasos del éxito de tu carrera ahora
            </h3>
            <div class="buttons">
               <a
                  href="/como-inscribirse"
                  class="button primary-btn raised is-large">Inscríbete Ya</a
               >
               <a
                  href="/formas-de-pago"
                  class="button accent-btn raised is-large">Formas de Pago</a
               >
            </div>
         </div>
         <div class="column is-3">
            <figure class="image">
               <img src="/img/pics/tech-boy.webp" alt="" />
            </figure>
         </div>
      </div>
   </div>
</section>
