---
import cursos from "../../public/api/cursos.json";
const { tag, except } = Astro.props;

let cursosFiltrados

const indicesAleatorios = []

// Filtrar por tag y excluye slug

cursosFiltrados = cursos.filter((curso) => curso.tag === tag && curso.slug !== except);


while (indicesAleatorios.length < 3) {
   const numero = Math.floor(Math.random() * (cursosFiltrados.length - 1)) + 0;
   if (!indicesAleatorios.includes(numero)) {
      indicesAleatorios.push(numero);
   }
}

// Obtener los cursos y mostrarlos
const cursosRelated = [];
for (const indice of indicesAleatorios) {
   cursosRelated.push(cursosFiltrados[indice]);
}
---

<section class="section px-0 mb-60">
   <div class="container">
      <div class="has-text-centered">
         <h2 class="title">Cursos relacionados</h2>
      </div>

      <div class="content-wrapper">
         <div class="columns">
            {
               cursosRelated.map((item) => (
                  <div class="column">
                     <div class="card">
                        <div class="card-image">
                           <figure class="image is-5by3">
                              <img src={'/img/portadas/'+item.slug+'.webp'} alt="" />
                           </figure>
                        </div>
                        <div class="card-content">
                           <div class="content">
                              <h3 class="title is-5">{item.nombre}</h3>

                              <p>
                                 <span class="tag is-primary is-light is-uppercase">
                                    {item.tag}
                                 </span>
                              </p>

                              <p class="is-size-7 has-text-grey">
                                 <span class="icon-text">
                                    <span class="icon">
                                       <i
                                          class="iconify"
                                          data-icon="fa6-solid:clock"
                                       />
                                    </span>
                                    <span>15 Horas</span>
                                 </span>
                              </p>
                           </div>
                        </div>
                        <div class="card-footer has-background-light">
                           <a href={item.url} class="card-footer-item">
                              <strong>Ver más</strong>
                           </a>
                        </div>
                     </div>
                  </div>
               ))
            }
         </div>
      </div>
   </div>
</section>

<style>
   .image img {
      border-radius: 6px;
   }
</style>
