<footer class="footer footer-dark">
  <div class="container">
    <div class="columns is-8">
      <div class="column">
        <div class="footer-logo">
          <img src="/img/logo/logo-uneweb.webp" />
        </div>
        <div class="content my-5">
          <p>
            El Rosal, avenida Francisco Miranda con Avenida José Martí, Torre
            EASO piso 10, oficina 10D Caracas 1080, Distrito Capital.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>UNEWEB</h3>
          </div>
          <ul class="link-list">
            <li><a href="/instituto-uneweb">Quienes Somos</a></li>
            <li><a href="https://webinteligente.biz/">Web /nteligente</a></li>
            <li><a href="/formas-de-pago">Pago online</a></li>
            <li><a href="https://tecnologiaenvivo.com/">Blog</a></li>
            <li><a href="https://uneweb.edu.ve/comunidad">Únete a la comunidad</a></li>
            <li><a href="/como-inscribirse">Términos y condiciones</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>PROGRAMAS</h3>
          </div>
          <ul class="link-list">
            <li><a href="/diplomado-de-programacion">Diplomado de Programación</a></li>
            <li><a href="/diplomado-de-java">Diplomado de Java</a></li>
            <li><a href="/diplomado-integracion-web">Diplomado de Webmaster</a></li>
            <li><a href="/diplomado-diseno-digital">Diplomado de Diseño Digital</a></li>
            <li><a href="/diplomado-mercadeo">Diplomado de Mercadeo</a></li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>CONTACTO</h3>
          </div>
          <ul class="link-list">
            <li><a href="tel:04143205366">04143205366</a></li>
            <li><a href="tel:04142489270">04142489270</a></li>
            <li><a href="tel:04120922157">04120922157</a></li>
            <li><a href="tel:+582129538412">0212-9538412</a></li>
            <li><a href="https://wa.me/584125750324">Whatsapp: +584125750324</a></li>
            
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>NUESTRAS REDES</h3>
            <nav class="level">
              <div class="level-left">
                <a class="level-item" href="https://github.com/#">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:instagram"></i>
                  </span>
                </a>
                <a class="level-item" href="https://facebook.com/#">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:facebook"></i>
                  </span>
                </a>
                <a class="level-item" href="https://google.com/#">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:twitter"></i>
                  </span>
                </a>
                <a class="level-item" href="https://linkedin.com/#">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:youtube"></i>
                  </span>
                </a>
                <a class="level-item" href="https://linkedin.com/#">
                  <span class="icon">
                    <i class="iconify" data-icon="fa6-brands:whatsapp"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
