---
const items = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13];
---

<section class="section">
   <div class="container is-fullhd">
      <div class="title-wrapper has-text-centered">
         <h2 class="title">También puedes especializarte</h2>
      </div>

      <div class="content-wrapper">
         <!-- Start Carousel -->
         <div class="especial-carousel">

               {
                  items.map((item) => (
                     <div class="item-carousel">
                        <figure class="image">
                           <img src={`/img/especializaciones/${item}.webp`} alt="/" />
                        </figure>
                     </div>
                  ))
               }
   

         </div>
         <!-- End Carousel Services -->
      </div>
   </div>
</section>

<script>
   import Flickity from "flickity";

   document.addEventListener("astro:page-load", () => {
      let flkty = new Flickity(".especial-carousel", {
         draggable: true,
         contain: true,
         freeScroll: true,
         wrapAround: true,
         pageDots: false
      });
   });
</script>

<style>
   .image img {
      border-radius: 6px;
   }

   .item-carousel {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 20px;
   }

   @media screen and (min-width: 768px) and (max-width: 1344px) {
      .item-carousel {
         width: 33%;
      }
   }
   @media screen and (min-width: 1344px) {
      .item-carousel {
         width: 25%;
      }
   }
</style>
