<section class="section px-0">
   <div class="container is-fluid">
      <div class="title-wrapper has-text-centered">
         <h2 class="title">Nuestros Diplomados</h2>
      </div>
      <div class="content-wrapper">
         <div class="columns is-centered">
            <div class="column is-2">
               <figure class="image">
                  <img src="/img/diplomados/1.jpg" alt="" />
               </figure>
            </div>
            <div class="column is-2">
               <figure class="image">
                  <img src="/img/diplomados/2.jpg" alt="" />
               </figure>
            </div>
            <div class="column is-2">
               <figure class="image">
                  <img src="/img/diplomados/3.jpg" alt="" />
               </figure>
            </div>
            <div class="column is-2">
               <figure class="image">
                  <img src="/img/diplomados/4.jpg" alt="" />
               </figure>
            </div>
            <div class="column is-2">
               <figure class="image">
                  <img src="/img/diplomados/5.jpg" alt="" />
               </figure>
            </div>
         </div>

         <!-- <div class="columns is-centered">
            <div class="column is-2">
               <a href="#">
                  <div
                     class="feature-card is-bordered has-text-centered"
                  >
                  
                     <div class="card-title">
                        <h4>Diplomado de Programación</h4>
                     </div>
                     <div class="card-icon">
                        <img src="/img/icons/007-programacion.png" />
                     </div>
                     <div class="card-text">
                        <p>12 cursos + proyecto</p>
                     </div>
                    
                  </div>
               </a>
            </div>

            <div class="column is-2">
               <div
                  class="feature-card is-bordered has-text-centered"
               >
                  <div class="card-title">
                     <h4>Diplomado <br>de Python</h4>
                  </div>
                  <div class="card-icon">
                     <img src="/img/icons/008-piton.png" />
                  </div>
                  <div class="card-text">
                     <p>12 cursos + proyecto</p>
                  </div>

               </div>
            </div>

            <div class="column is-2">
               <div
                  class="feature-card is-bordered has-text-centered"
               >
                  <div class="card-title">
                     <h4>Diplomado <br>de Java</h4>
                  </div>
                  <div class="card-icon">
                     <img src="/img/icons/009-java.png" />
                  </div>
                  <div class="card-text">
                     <p>12 cursos + proyecto</p>
                  </div>
          
               </div>
            </div>

            <div class="column is-2">
               <div
                  class="feature-card is-bordered has-text-centered"
               >
                  <div class="card-title">
                     <h4>Diplomado de <br>Diseño Digital</h4>
                  </div>
                  <div class="card-icon">
                     <img src="/img/icons/004-disenador-grafico.png" />
                  </div>
                  <div class="card-text">
                     <p>12 cursos + proyecto</p>
                  </div>

               </div>
            </div>

            <div class="column is-2">
               <div
                  class="feature-card is-bordered has-text-centered"
               >
                  <div class="card-title">
                     <h4>Diplomado de <br>Mercadeo Digital</h4>
                  </div>
                  <div class="card-icon">
                     <img src="/img/icons/006-mercadeo-social.png" />
                  </div>
                  <div class="card-text">
                     <p>12 cursos + proyecto</p>
                  </div>

               </div>
            </div>
         </div> -->
      </div>
   </div>
</section>

<style>
   .image img {
      border-radius: 6px;
   }
</style>
