<section class="section section-light-grey">
   <div class="container is-fullhd">
      <div class="title-wrapper has-text-centered">
         <h2 class="title">Nuestros Diplomados</h2>
      </div>
      <div class="content-wrapper">
         <div class="columns is-variable is-2">
            <div class="column">
               <figure class="image">
                  <a href="/diplomado-de-programacion">
                     <img src="/img/portadas/diplomado-programacion.webp" alt="" />
                  </a>
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <a href="/diplomado-de-python">
                     <img src="/img/portadas/diplomado-python.webp" alt="" />
                  </a>
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <a href="/diplomado-de-java">
                     <img src="/img/portadas/diplomado-java.webp" alt="" />
                  </a>
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <a href="/diplomado-diseno-digital">
                     <img src="/img/portadas/diplomado-diseno.webp" alt="" />
                  </a>
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <a href="/diplomado-mercadeo">
                     <img src="/img/portadas/diplomado-mercadeo.webp" alt="" />
                  </a>
               </figure>
            </div>
         </div>

      </div>
   </div>
</section>

<style>
   .image img {
      border-radius: 6px;
   }
</style>
