<section class="section px-0">
   <div class="container is-fluid">
      <div class="title-wrapper has-text-centered">
         <h2 class="title">Nuestros Diplomados</h2>
      </div>
      <div class="content-wrapper">
         <!-- Start Carousel -->
         <div class="especial-carousel">
            <div class="item-carousel">
               <figure class="image">
                  <img src="/img/especializaciones/1.jpg" alt="" />
               </figure>
            </div>

            <div class="item-carousel">
               <figure class="image">
                  <img src="/img/especializaciones/1.jpg" alt="" />
               </figure>
            </div>

            <div class="item-carousel">
               <figure class="image">
                  <img src="/img/especializaciones/1.jpg" alt="" />
               </figure>
            </div>

            <div class="item-carousel">
               <figure class="image">
                  <img src="/img/especializaciones/1.jpg" alt="" />
               </figure>
            </div>

            <div class="item-carousel">
               <figure class="image">
                  <img src="/img/especializaciones/1.jpg" alt="" />
               </figure>
            </div>

            <div class="item-carousel">
               <figure class="image">
                  <img src="/img/especializaciones/1.jpg" alt="" />
               </figure>
            </div>
         </div>
         <!-- End Carousel Services -->
      </div>
   </div>
</section>

<script>
   import Flickity from "flickity";

   document.addEventListener('astro:page-load', () => {
		let flkty = new Flickity(".especial-carousel", {
			draggable: true,
			contain: true,
			freeScroll: true,
			wrapAround: true,
		});
	});
</script>

<style is:global>
      .especial-carousel:hover .flickity-button {
      opacity: 1;
   }

   .flickity-button {
      opacity: 0;
      transition: all .3s;
   }
</style>

<style>

   
   .image img {
      border-radius: 6px;
   }

   
   .item-carousel {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 20px;
   }
   
   .feature-card {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }



   @media screen and (min-width: 768px) and (max-width: 1344px) {
      .item-carousel {
         width: 33%;
      }
   }
   @media screen and (min-width: 1344px) {
      .item-carousel {
         width: 25%;
      }
   }
</style>
