<section class="section mt-40">
   <div class="container is-fullhd">
      <div class="title-wrapper has-text-centered">
         <h2 class="title">Nuestros Diplomados</h2>
      </div>
      <div class="content-wrapper">
         <div class="columns">
            <div class="column">
               <figure class="image">
                  <img src="/img/diplomados/1.jpg" alt="" />
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <img src="/img/diplomados/2.jpg" alt="" />
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <img src="/img/diplomados/3.jpg" alt="" />
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <img src="/img/diplomados/4.jpg" alt="" />
               </figure>
            </div>
            <div class="column">
               <figure class="image">
                  <img src="/img/diplomados/5.jpg" alt="" />
               </figure>
            </div>
         </div>

      </div>
   </div>
</section>

<style>
   .image img {
      border-radius: 6px;
   }
</style>
