<a href="#" class="navbar-item is-secondary"> Aula online</a>
<a href="#" class="navbar-item is-secondary"> Comunidad</a>
<div class="navbar-item has-dropdown is-hoverable">
   <a class="navbar-link"> Más información</a>

   <div class="navbar-dropdown">
      <a class="navbar-item"> Cómo inscribirse</a>
      <a class="navbar-item"> Formas de pago</a>
      <a class="navbar-item"> Proyectos</a>
      <a class="navbar-item"> Folleto</a>
   </div>

   <div class="navbar-item">
      <span class="icon">
         <i class="iconify" data-icon="fa6-solid:magnifying-glass"></i>
      </span>
   </div>

   <a class="navbar-item is-secondary" href="https://wa.me/584125750324">
      <span class="button is-success raised">
         <span class="icon">
            <i class="iconify" data-icon="fa6-brands:whatsapp"></i>
         </span>
         <span>Whatsapp</span>
      </span>
   </a>
</div>
