<a href="https://uneweb.com/cursos/login/" class="navbar-item is-secondary"> Aula online</a>
<a href="https://uneweb.edu.ve/comunidad/" class="navbar-item is-secondary"> Comunidad</a>
<div class="navbar-item has-dropdown is-hoverable">
   <a class="navbar-link"> Más información</a>

   <div class="navbar-dropdown">
      <a href="/como-inscribirse" class="navbar-item"> Cómo inscribirse</a>
      <a href="/formas-de-pago" class="navbar-item"> Formas de pago</a>
      <a href="https://tecnologiaenvivo.com/category/proyecto-de-estudiantes/" class="navbar-item"> Proyectos</a>
      <a href="/docs/UnewebInstituto.pdf" class="navbar-item"> Folleto</a>
   </div>

</div>
<div class="navbar-item search modal-trigger" data-modal="modal-search" id="icon-search">
   <span class="icon">
      <i class="iconify" data-icon="fa6-solid:magnifying-glass"></i>
   </span>
</div>

<a class="navbar-item is-secondary" href="https://wa.me/584125750324">
   <span class="button is-success raised">
      <span class="icon">
         <i class="iconify" data-icon="fa6-brands:whatsapp"></i>
      </span>
      <span>Whatsapp</span>
   </span>
</a>
