<div
  x-data="initSidebar()"
  class="sidebar"
  :class="{
  'is-active': $store.app.isSiderbarOpen,
  '': !$store.app.isSiderbarOpen
}"
>
  <div class="sidebar-header">
    <img src="/img/favicon.png" />
    <a @click="closeSidebar()" class="sidebar-close" href="javascript:void(0);"
      ><i class="iconify" data-icon="lucide:x"></i>
    </a>
  </div>
  <div class="inner">
    <ul class="sidebar-menu">
      <li><span class="nav-section-title"></span></li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-1"
        class="have-children"
        :class="{
              'active': openedMenu === 'sidebar-menu-1',
              '': openedMenu != 'sidebar-menu-1'
          }"
      >
        <a href="#">
          <span class="icon">
            <i class="iconify" data-icon="mdi:school"></i>
          </span>
          <span>Diplomados y Proyectos</span>
        </a>
        <ul x-show="openedMenu === 'sidebar-menu-1'" x-transition.duration.300ms>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Account</a></li>
          <li><a href="#">Documents</a></li>
        </ul>
      </li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-2"
        class="have-children"
        :class="{
              'active': openedMenu === 'sidebar-menu-2',
              '': openedMenu != 'sidebar-menu-2'
          }"
      >
        <a href="#">
          <span class="icon">
            <i class="iconify" data-icon="mdi:xml"></i>
          </span>
          <span>Cursos de Programaci칩n</span>
        </a>
        <ul x-show="openedMenu === 'sidebar-menu-2'" x-transition.duration.300ms>
          <li><a href="#">Inbox</a></li>
          <li><a href="#">Compose</a></li>
          <li><a href="#">Video</a></li>
        </ul>
      </li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-3"
        class="have-children"
        :class="{
              'active': openedMenu === 'sidebar-menu-3',
              '': openedMenu != 'sidebar-menu-3'
          }"
      >
        <a href="#">
          <span class="icon">
            <i class="iconify" data-icon="mdi:semantic-web"></i>
          </span>
          <span>Cursos de Dise침o Web</span>
        </a>
        <ul x-show="openedMenu === 'sidebar-menu-3'" x-transition.duration.300ms>
          <li><a href="#">Library</a></li>
          <li><a href="#">Upload</a></li>
        </ul>
      </li>

      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-4"
        class="have-children"
        :class="{
              'active': openedMenu === 'sidebar-menu-4',
              '': openedMenu != 'sidebar-menu-4'
				}"
      >
        <a href="#">
          <span class="icon">
            <i class="iconify" data-icon="mdi:pencil-ruler"></i>
          </span>
          <span>Cursos de Dise침o Gr치fico</span>
        </a>
        <ul x-show="openedMenu === 'sidebar-menu-4'" x-transition.duration.300ms>
          <li><a href="#">User settings</a></li>
          <li><a href="#">App settings</a></li>
        </ul>
      </li>

      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-5"
        class="have-children"
        :class="{
              'active': openedMenu === 'sidebar-menu-5',
              '': openedMenu != 'sidebar-menu-5'
          }"
      >
        <a href="#">
          <span class="icon">
            <i class="iconify" data-icon="mdi:bullhorn"></i>
          </span>
          <span>Cursos de Mercadeo</span>
        </a>
        <ul x-show="openedMenu === 'sidebar-menu-5'" x-transition.duration.300ms>
          <li><a href="#">User settings</a></li>
          <li><a href="#">App settings</a></li>
        </ul>
      </li>
      <li
        @click="openSidebarMenu($event)"
        data-menu="sidebar-menu-6"
        class="have-children"
        :class="{
              'active': openedMenu === 'sidebar-menu-6',
              '': openedMenu != 'sidebar-menu-6'
          }"
      >
        <a href="#">
          <span class="icon">
            <i class="iconify" data-icon="mdi:certificate"></i>
          </span>
          <span>Especializaciones</span>
        </a>
        <ul x-show="openedMenu === 'sidebar-menu-6'" x-transition.duration.300ms>
          <li><a href="#">User settings</a></li>
          <li><a href="#">App settings</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="auth-modal" class="modal">
    <div class="modal-background modal-dismiss"></div>
    <div class="modal-content">
      <div class="flex-card auth-card">
        <div class="tabs-wrapper">
          <div class="tabs">
            <ul>
              <li class="is-active" data-tab="login-tab"><a>Login</a></li>
              <li data-tab="register-tab"><a>Register</a></li>
            </ul>
          </div>
          <div id="login-tab" class="tab-content is-active">
            <div class="field">
              <label>Username</label>
              <div class="control">
                <input
                  type="text"
                  class="input is-medium"
                  placeholder="Enter username"
                />
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="control">
                <input
                  type="password"
                  class="input is-medium"
                  placeholder="Enter password"
                />
              </div>
            </div>

            <a class="button is-fullwidth secondary-btn is-rounded raised"
              >Log in</a
            >
          </div>
        </div>
      </div>
    </div>
    <button class="modal-close is-large modal-dismiss" aria-label="close"
    ></button>
  </div>
